<ion-view title="Detail Profile" id="page12">
    <ion-content padding="true" class="has-header">
        <form id="detailProfile-form8" class="list ">
            <ion-toggle toggle-class="toggle-positive" id="detailProfile-toggle5">Shortlist</ion-toggle>
        </form>
        <div class="list card " id="detailProfile-card22">
            <div class="item item-body " id="detailProfile-list-item-container5">
                <ion-list id="detailProfile-list24">
                    <ion-item class="item-icon-left  " id="detailProfile-list-item17">
                        <i class="icon ion-android-person"></i>About Myself</ion-item>
                </ion-list>
                <div>
                    <img src="img/gidLerT8Taxiifjnroyl_1781d15.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </div>
                <div>
                    <img src="img/bWn3cmQMR1a56BGtVI0O_IMG_20141214_135101.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </div>
                <div>
                    <img src="img/Dinesh.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </div>
                <div>
                    <img src="img/dinesh-profile-picture.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </div>
                <div>
                    <img src="img/dinesh94_1364115931_140.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </div>
                <div>
                    <img src="img/hxFvQrkJfOzBtJgWAmX0_c72lX5VC-wqDgFWttkBlLFjoGT6MwdCMq3iUn5th5xEbmqwfA-r=s673-fcrop64=1,0acc34affbf2ffff" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </div>
                <p id="detailProfile-markdown6" style="color:#000000;">Hi This is Dinesh, I am working as Software Engineer in Siemens &amp; overall working experience is around years &amp; Seeking for suitable match.</p>
                <div class="spacer" style="width: 268px; height: 12px;"></div>
                <ion-list id="detailProfile-list18">
                    <ion-item class="item-icon-left  " id="detailProfile-list-item23">
                        <i class="icon ion-android-done-all"></i>My Expectations</ion-item>
                </ion-list>
                <p id="detailProfile-markdown9" style="color:#000000;">Suitable</p>
                <div class="spacer" style="width: 268px; height: 12px;"></div>
                <ion-list id="detailProfile-list12">
                    <ion-item class="item-icon-left  " id="detailProfile-list-item18">
                        <i class="icon ion-document-text"></i>Basic Details</ion-item>
                </ion-list>
                <div>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    Birth Date
                                </td>
                                <td>
                                    &nbsp;:&nbsp;
                                </td>
                                <td>
                                    09-Apr-87 (29)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Birth Time
                                </td>
                                <td>
                                    &nbsp;:&nbsp;
                                </td>
                                <td>
                                    06:43 AM
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Birth Place
                                </td>
                                <td>
                                    &nbsp;:&nbsp;
                                </td>
                                <td>
                                    Malegaon
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Height
                                </td>
                                <td>
                                    &nbsp;:&nbsp;
                                </td>
                                <td>
                                    5.8`
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Weight
                                </td>
                                <td>
                                    &nbsp;:&nbsp;
                                </td>
                                <td>
                                    -
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Blood Group
                                </td>
                                <td>
                                    &nbsp;:&nbsp;
                                </td>
                                <td>
                                    A+
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Marital Status
                                </td>
                                <td>
                                    &nbsp;:&nbsp;
                                </td>
                                <td>
                                    Never Married
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Mother Tongue
                                </td>
                                <td>
                                    &nbsp;:&nbsp;
                                </td>
                                <td>
                                    Marathi
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Eating Habits
                                </td>
                                <td>
                                    &nbsp;:&nbsp;
                                </td>
                                <td>
                                    Non Veg.
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Drinking Habits
                                </td>
                                <td>
                                    &nbsp;:&nbsp;
                                </td>
                                <td>
                                    Never
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Smoking Habits
                                </td>
                                <td>
                                    &nbsp;:&nbsp;
                                </td>
                                <td>
                                    Never
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="spacer" style="width: 268px; height: 12px;"></div>
                <ion-list id="detailProfile-list14">
                    <ion-item class="item-icon-left  " id="detailProfile-list-item19">
                        <i class="icon ion-android-document"></i>Religion/Cast</ion-item>
                </ion-list>
                <div>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    Religion
                                </td>
                                <td>
                                    &nbsp;:&nbsp;
                                </td>
                                <td>
                                    Hindu
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Cast
                                </td>
                                <td>
                                    &nbsp;:&nbsp;
                                </td>
                                <td>
                                    Bhavsar
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Subcast
                                </td>
                                <td>
                                    &nbsp;:&nbsp;
                                </td>
                                <td>
                                    -
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Nakshatra
                                </td>
                                <td>
                                    &nbsp;:&nbsp;
                                </td>
                                <td>
                                    Ashlesha 4
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Rashi
                                </td>
                                <td>
                                    &nbsp;:&nbsp;
                                </td>
                                <td>
                                    Kark(Cancer)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Nadi
                                </td>
                                <td>
                                    &nbsp;:&nbsp;
                                </td>
                                <td>
                                    Antya
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="spacer" style="width: 268px; height: 12px;"></div>
                <ion-list id="detailProfile-list16">
                    <ion-item class="item-icon-left  " id="detailProfile-list-item21">
                        <i class="icon ion-bookmark"></i>Education/Occupation</ion-item>
                </ion-list>
                <div class="spacer" style="width: 268px; height: 12px;"></div>
                <div>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    Qualification
                                </td>
                                <td>
                                    &nbsp;:&nbsp;
                                </td>
                                <td>
                                    M. Sc. Computer Science
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Occupation
                                </td>
                                <td>
                                    &nbsp;:&nbsp;
                                </td>
                                <td>
                                    Software Engineer
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Occupation Details
                                </td>
                                <td>
                                    &nbsp;:&nbsp;
                                </td>
                                <td>
                                    Team Lead
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Annual Income
                                </td>
                                <td>
                                    &nbsp;:&nbsp;
                                </td>
                                <td>
                                    12 Lakh
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Work Location
                                </td>
                                <td>
                                    &nbsp;:&nbsp;
                                </td>
                                <td>
                                    Pune
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="spacer" style="width: 268px; height: 12px;"></div>
                <ion-list id="detailProfile-list17">
                    <ion-item class="item-icon-left  " id="detailProfile-list-item22">
                        <i class="icon ion-android-home"></i>Family Details</ion-item>
                </ion-list>
                <div>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    Family Status
                                </td>
                                <td>
                                    &nbsp;:&nbsp;
                                </td>
                                <td>
                                    Middle Class
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Father's Occupation
                                </td>
                                <td>
                                    &nbsp;:&nbsp;
                                </td>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Mother's Occupation
                                </td>
                                <td>
                                    &nbsp;:&nbsp;
                                </td>
                                <td>
                                    Working in M.S.E.B as Cashier
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Brother`s
                                </td>
                                <td>
                                    &nbsp;:&nbsp;
                                </td>
                                <td>
                                    2
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Brother`s Married
                                </td>
                                <td>
                                    &nbsp;:&nbsp;
                                </td>
                                <td>
                                    1
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Sisters`s
                                </td>
                                <td>
                                    &nbsp;:&nbsp;
                                </td>
                                <td>
                                    2
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Sisters`s Married
                                </td>
                                <td>
                                    &nbsp;:&nbsp;
                                </td>
                                <td>
                                    1
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    About My Family
                                </td>
                                <td>
                                    &nbsp;:&nbsp;
                                </td>
                                <td>
                                    Very simple &amp; caring
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="spacer" style="width: 268px; height: 12px;"></div>
                <ion-list id="detailProfile-list25">
                    <ion-item class="item-icon-left  " id="detailProfile-list-item24">
                        <i class="icon ion-ios-contact-outline"></i>Contact Information</ion-item>
                </ion-list>
                <div>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    Contact Number
                                </td>
                                <td>
                                    &nbsp;:&nbsp;
                                </td>
                                <td>
                                    9970011114 (Self) 9226271423 (Home)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Email
                                </td>
                                <td>
                                    &nbsp;:&nbsp;
                                </td>
                                <td>
                                    dinesh94@gmail.com
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p id="detailProfile-markdown11" style="margin-top:0px;color:#000000;">Some friendly
                    <strong>markdown</strong>
                </p>
                <div class="spacer" style="width: 268px; height: 12px;"></div>
            </div>
        </div>
    </ion-content>
</ion-view>