<ion-view title="Edit Profile" id="page13">
    <ion-content padding="true" class="has-header">
        <form id="editProfile-form10" class="list ">
            <p id="editProfile-markdown16" style="color:#2A3269;font-size:11px;">Profile photo &amp; basic details are mandatory to dispay your profile in search result. To experience a better results, please fill all the infomration below.</p>
            <ion-checkbox>Auto save</ion-checkbox>
            <div>Upload Profile Photo :
                <input type="file">
            </div>
            <div>
                <img src="img/gidLerT8Taxiifjnroyl_1781d15.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class="spacer" style="width: 300px; height: 29px;"></div>
            <ion-item class="item-icon-left  " id="editProfile-list-item32">
                <i class="icon ion-ios-contact-outline"></i>Contact Information</ion-item>
            <label class="item item-input " id="editProfile-input26">
                <span class="input-label">Primary Mobile#</span>
                <input type="tel" placeholder="">
            </label>
            <label class="item item-input " id="editProfile-input27">
                <span class="input-label">Secondary Mobile#</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="editProfile-input28">
                <span class="input-label">Primary Email</span>
                <input type="email" placeholder="">
            </label>
            <label class="item item-input " id="editProfile-input29">
                <span class="input-label">Secondary Email</span>
                <input type="email" placeholder="">
            </label>
            <div class="spacer" style="width: 300px; height: 29px;"></div>
            <label class="item item-input " id="editProfile-textarea2">
                <span class="input-label">About Myself</span><textarea placeholder=""></textarea>
            </label>
            <label class="item item-input " id="editProfile-input15">
                <span class="input-label">My Expectations</span>
                <input type="text" placeholder="">
            </label>
            <div class="spacer" style="width: 300px; height: 27px;"></div>
            <ion-item class="item-icon-left  " id="editProfile-list-item27">
                <i class="icon ion-document-text"></i>Basic Details</ion-item>
            <label class="item item-input " id="editProfile-input16">
                <span class="input-label">Birth Date</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-input " id="editProfile-input17">
                <span class="input-label">Birth Time</span>
                <input type="time" placeholder="">
            </label>
            <label class="item item-input " id="editProfile-input18">
                <span class="input-label">Birth Place</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-select " id="editProfile-select3">
                <span class="input-label">Height</span>
                <select>
                    <option>4 Ft 0 In</option>
                    <option>4 Ft 1 In</option>
                    <option>4 Ft 2 In</option>
                </select>
            </label>
            <label class="item item-select " id="editProfile-select4">
                <span class="input-label">Weight</span>
                <select>
                    <option>40</option>
                    <option>140</option>
                </select>
            </label>
            <label class="item item-select " id="editProfile-select29">
                <span class="input-label">Blood Group</span>
                <select>
                    <option>A+</option>
                    <option>A-</option>
                    <option>B+</option>
                    <option>B-</option>
                    <option>O+</option>
                    <option>O-</option>
                    <option>AB+</option>
                    <option>AB-</option>
                </select>
            </label>
            <label class="item item-select " id="editProfile-select5">
                <span class="input-label">Marital Status</span>
                <select>
                    <option>Never Married</option>
                    <option>Divorced</option>
                </select>
            </label>
            <label class="item item-select " id="editProfile-select6">
                <span class="input-label">Mother Tongue</span>
                <select>
                    <option>Marathi</option>
                    <option>Hindi</option>
                    <option>Gujrati</option>
                    <option>Kannada</option>
                    <option>Other</option>
                </select>
            </label>
            <label class="item item-select " id="editProfile-select7">
                <span class="input-label">Eating Habits</span>
                <select>
                    <option>Never</option>
                    <option>Occasionally</option>
                    <option>Mostly</option>
                </select>
            </label>
            <label class="item item-select " id="editProfile-select8">
                <span class="input-label">Drinking Habits</span>
                <select>
                    <option>Never</option>
                    <option>Occasionally</option>
                    <option>Mostly</option>
                </select>
            </label>
            <label class="item item-select " id="editProfile-select9">
                <span class="input-label">Smoking Habits</span>
                <select>
                    <option>Never</option>
                    <option>Occasionally</option>
                    <option>Mostly</option>
                </select>
            </label>
            <div class="spacer" style="width: 300px; height: 25px;"></div>
            <ion-item class="item-icon-left  " id="editProfile-list-item28">
                <i class="icon ion-android-document"></i>Religion/Cast</ion-item>
            <label class="item item-select " id="editProfile-select12">
                <span class="input-label">Religion</span>
                <select>
                    <option>Hindu</option>
                    <option>Other</option>
                </select>
            </label>
            <label class="item item-select " id="editProfile-select11">
                <span class="input-label">Cast</span>
                <select>
                    <option>Bhavsar Kshatriya</option>
                    <option>Namdev Shimpi</option>
                </select>
            </label>
            <ion-toggle toggle-class="toggle-positive" id="editProfile-toggle8">Cast no bar to marry</ion-toggle>
            <label class="item item-select " id="editProfile-select14">
                <span class="input-label">Nakshatra</span>
                <select>
                    <option>Anuradha</option>
                    <option>Vishakha</option>
                </select>
            </label>
            <label class="item item-select " id="editProfile-select15">
                <span class="input-label">Rashi</span>
                <select>
                    <option>Karla (Cancer)</option>
                </select>
            </label>
            <label class="item item-select " id="editProfile-select13">
                <span class="input-label">Nadi</span>
                <select>
                    <option>Antya</option>
                </select>
            </label>
            <div class="spacer" style="width: 300px; height: 27px;"></div>
            <ion-item class="item-icon-left  " id="editProfile-list-item29">
                <i class="icon ion-bookmark"></i>Education/Occupation</ion-item>
            <label class="item item-select " id="editProfile-select16">
                <span class="input-label">Higher Education</span>
                <select>
                    <option>Aeronautical Engineering</option>
                    <option>B. Arch</option>
                    <option>BCA</option>
                    <option>BE</option>
                    <option>B. Plan</option>
                    <option>B. Sc. IT/Computer Science</option>
                    <option>B. Tech</option>
                    <option>M. Arch</option>
                    <option>MCA</option>
                    <option>ME</option>
                    <option>M. Sc. IT/Computer Science</option>
                    <option>M. S.</option>
                    <option>M. Tech</option>
                </select>
            </label>
            <label class="item item-input " id="editProfile-input21">
                <span class="input-label">Collage</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-select " id="editProfile-select19">
                <span class="input-label">Employed In</span>
                <select>
                    <option>Government</option>
                    <option>Private</option>
                    <option>Business</option>
                    <option>Self Employed</option>
                    <option>Defence</option>
                </select>
            </label>
            <label class="item item-select " id="editProfile-select21">
                <span class="input-label">Work Location</span>
                <select>
                    <option>Pune</option>
                    <option>Mumbai</option>
                </select>
            </label>
            <label class="item item-select " id="editProfile-select18">
                <span class="input-label">Occupation</span>
                <select>
                    <option>Admin</option>
                    <option>Manager</option>
                    <option>Supervisor</option>
                    <option>Officer</option>
                    <option>Administrative Professional</option>
                    <option>Executive</option>
                    <option>Cleark</option>
                    <option>HR Prefessional</option>
                    <option>Archi. &amp; Farming Professional</option>
                    <option>Pilot</option>
                    <option>Air Hostess</option>
                    <option>Airline Professional</option>
                    <option>Architect</option>
                    <option>Software Engineeer</option>
                </select>
            </label>
            <label class="item item-input " id="editProfile-input22">
                <span class="input-label">Occupation Details</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-select " id="editProfile-select20">
                <span class="input-label">Income</span>
                <select>
                    <option>Annual</option>
                    <option>Monthly</option>
                </select>
            </label>
            <label class="item item-input " id="editProfile-input23">
                <span class="input-label">Income Amount</span>
                <input type="text" placeholder="">
            </label>
            <div class="spacer" style="width: 300px; height: 25px;"></div>
            <ion-item class="item-icon-left  " id="editProfile-list-item30">
                <i class="icon ion-android-home"></i>Family Details</ion-item>
            <label class="item item-select " id="editProfile-select23">
                <span class="input-label">Family Type</span>
                <select>
                    <option>Joint Family</option>
                    <option>Nuclear Family</option>
                    <option>Other</option>
                </select>
            </label>
            <label class="item item-select " id="editProfile-select17">
                <span class="input-label">Family Status</span>
                <select>
                    <option>Middle Class</option>
                    <option>Upper Middle Class</option>
                    <option>High Class</option>
                    <option>Rich</option>
                </select>
            </label>
            <label class="item item-input " id="editProfile-input24">
                <span class="input-label">Father's Occupation/Staus</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="editProfile-input25">
                <span class="input-label">Mother's Occupation/Staus</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-select " id="editProfile-select27">
                <span class="input-label">Number Of Brothers</span>
                <select>
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5+</option>
                </select>
            </label>
            <label class="item item-select " id="editProfile-select26">
                <span class="input-label">Number Of Brother's Married</span>
                <select>
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5+</option>
                </select>
            </label>
            <label class="item item-select " id="editProfile-select25">
                <span class="input-label">Number Of Sisters</span>
                <select>
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5+</option>
                </select>
            </label>
            <label class="item item-select " id="editProfile-select22">
                <span class="input-label">Number Of Sister's Married</span>
                <select>
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5+</option>
                </select>
            </label>
            <label class="item item-input " id="editProfile-textarea3">
                <span class="input-label">More About My Family</span><textarea placeholder=""></textarea>
            </label>
            <button id="editProfile-button20" class=" button button-positive  button-block ">Save &amp; Preview</button>
        </form>
    </ion-content>
</ion-view>