<ion-view title="Feedback | Contact" id="page17">
    <ion-content padding="true" class="has-header">
        <form id="feedbackContact-form13" class="list ">
            <p id="feedbackContact-markdown10" style="color:#000000;">How is your experience with this app ? or if you have any suggestions please post here.</p>
            <label class="item item-input " id="feedbackContact-textarea4">
                <span class="input-label"></span><textarea placeholder="Enter you comment here"></textarea>
            </label>
            <button id="feedbackContact-button17" class=" button button-positive  button-block ">Submit</button>
            <div class="spacer" style="width: 300px; height: 65px;"></div>
            <ion-item class="item-icon-left  " id="feedbackContact-list-item35">
                <i class="icon ion-ios-contact-outline"></i>For any help, contact here!</ion-item>
            <ion-item class="item-thumbnail-left  " id="feedbackContact-list-item34">
                <img src="img/gidLerT8Taxiifjnroyl_1781d15.jpg">
                <h2>Dinesh Bhavsar</h2>
                <p style="white-space:normal;">Mobile# : 9970011114
                    <br>Email : dinesh94@gmail.com</p>
            </ion-item>
        </form>
    </ion-content>
</ion-view>