<ion-view title="Forgot Password" id="page8">
    <ion-content padding="true" class="has-header">
        <form id="forgotPassword-form3" class="list ">
            <div class="spacer" style="width: 300px; height: 40px;"></div>
            <p id="forgotPassword-markdown12" style="color:#000000;">Enter your mobile number to receive reset password instructions.</p>
            <ion-list id="forgotPassword-list3">
                <label class="item item-input " id="forgotPassword-input9">
                    <span class="input-label">Mobile#</span>
                    <input type="tel" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="width: 300px; height: 21px;"></div>
            <button id="forgotPassword-button18" class=" button button-positive  button-block ">Send Password</button>
        </form>
    </ion-content>
</ion-view>