<ion-view title="Register" id="page6">
    <ion-content padding="true" class="has-header">
        <form id="register-form2" class="list ">
            <ion-list id="register-list2">
                <label class="item item-input " id="register-input3">
                    <span class="input-label">First Name</span>
                    <input data-ng-model="groom.firstName" type="text" placeholder="">
                </label>
                <label class="item item-input " id="register-input4">
                    <span class="input-label">Last Name</span>
                    <input data-ng-model="groom.lastName" type="text" placeholder="">
                </label>
                <label class="item item-input " id="register-input7">
                    <span class="input-label">Mobile</span>
                    <input data-ng-model="groom.mobileNo" type="tel" placeholder="">
                </label>
                <label class="item item-input " id="register-input8">
                    <span class="input-label">Email</span>
                    <input data-ng-model="groom.email" type="email" placeholder="">
                </label>
                <label class="item item-select " id="register-gender">
                <span class="input-label">Gender</span>
                <select data-ng-model="groom.gender">
                    <option data-ng-value="Male">Male</option>
                    <option data-ng-value="Female">Female</option>
                    <option data-ng-value="Shemale">Shemale</option>
                </select>
            </label>
                <label class="item item-input " id="register-input5">
                    <span class="input-label">Password</span>
                    <input data-ng-model="groom.password" type="text" placeholder="">
                </label>
            </ion-list>
            <label class="item item-select " id="register-select30">
                <span class="input-label">Register as</span>
                <select data-ng-model="groom.registerAs">
                    <option ng-value="Groom">Groom</option>
                    <option ng-value="Bride">Bride</option>
                    <option ng-value="I am not a groom/bride">I am not a groom/bride</option>
                </select>
            </label>
            <p id="register-markdown13" style="color:#000000;">
                <strong>Terms &amp; Conditions :-</strong>
                I hereby declare that the above information is true and correct.</p>
            <ion-checkbox>I agree to terms &amp; conditions</ion-checkbox>
            <a data-ng-click="register()" ui-sref="verifyEmailMobile" id="register-button3" class=" button button-positive  button-block ">Register</a>
        </form>
    </ion-content>
</ion-view>