<ion-view title="Settings" id="page15">
    <ion-content padding="true" class="has-header">
        <form id="settings-form14" class="list ">
            <ion-toggle toggle-class="toggle-positive" id="settings-toggle15">Hide my contact info</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="settings-toggle12">Email notification</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="settings-toggle13">SMS alert</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="settings-toggle14">Notify someone shortlist me</ion-toggle>
        </form>
    </ion-content>
</ion-view>