<ion-view title="Tab Menu" id="page1">
    <ion-tabs class="tabs-stable tabs-icon-top " id="tabMenu-tabs1">
        <ion-tab title="Groom" icon="ion-man" href="#/tabs/profiles" id="tabMenu-tab1">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Bride" icon="ion-woman" href="#/tabs/bride" id="tabMenu-tab2">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Shortlisted" icon="ion-android-star" href="#/tabs/shortlisted" id="tabMenu-tab3">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Viewed My Profile" icon="ion-eye" href="#/tabs/viewedmyprofile" id="tabMenu-tab4">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Shortlisted Me" icon="ion-bookmark" href="#/tabs/shortlistedme" id="tabMenu-tab5">
            <ion-nav-view name="tab5"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>