<ion-view title="Upload Photos" id="page14">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/gidLerT8Taxiifjnroyl_1781d15.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 22px;"></div>
        <div>
            <img src="img/gidLerT8Taxiifjnroyl_1781d15.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 22px;"></div>
        <div>Upload Photo :
            <input type="file">
        </div>
    </ion-content>
</ion-view>