<ion-view title="Verify Email &amp; Mobile" id="page18">
    <ion-content padding="true" class="has-header">
        <form id="verifyEmailMobile-form17" class="list ">
            <ol id="verifyEmailMobile-markdown14" style="color:#000000;font-size:11px;">
                <li>Please wait while we send mobile &amp; email verification code.</li>
                <li>Activate profile by entering mobile verification code.</li>
                <li>Email verification is required to receive email updates.</li>
            </ol>
            <div class="spacer" style="width: 300px; height: 14px;"></div>
            <label class="item item-input item-stacked-label " id="verifyEmailMobile-input34">
                <span class="input-label">Enter mobile verification code</span>
                <input type="number" placeholder="">
            </label>
            <div class="spacer" style="width: 300px; height: 14px;"></div>
            <label class="item item-input item-stacked-label " id="verifyEmailMobile-input35">
                <span class="input-label">Enter email verification code</span>
                <input type="number" placeholder="">
            </label>
            <div class="spacer" style="width: 300px; height: 14px;"></div>
            <a ui-sref="login" id="verifyEmailMobile-button19" class=" button button-positive  button-block ">Verify</a>
        </form>
        <p id="verifyEmailMobile-markdown15" style="color:#EB1E54;">
            <strong>This is mandatory to activate your login.</strong>
        </p>
    </ion-content>
</ion-view>